# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

node_modules/
.venv/
dist/
build/
src/bsim/simui/_frontend/dist/

.DS_Store
